
      body {
        background-color: black;
        color: white;
        width: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
      }

      span {
        font-family: monospace;
      }

      hr {
        height: 1px;
        width: auto;
        background: radial-gradient(white 8%, black 100%);
        animation-name: light;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }

      @keyframes light{
          from{
              opacity: 1;
          }
          to{
              opacity: 0.2;
          }
      }

      .h {
        height:100%
      }



      /* left part */
      .c1 {
        font-family: 'Archivo Black';
        text-align: center;
        padding-right: 100px;
      }

      .logo {
        width: fixed;
        position: absolute;
        margin-top: -30px;
        margin-left: -30px;
        height: 100px;
        overflow: hidden;
      }

      .logo img {
        width: fixed;
        height: 150px;
      }

      .name {
        padding-top: 100px;
        padding-bottom: 20px;
      }

      .name:hover {
        color: rgb(148, 232, 255);
      }

      /* navigation */
      .navigation {
        display: inline-block;
        padding-top: 100px;
        padding-bottom: 20px;
        text-align: center;
      }
      
      .n_link {
        display: block;
        color: white;
      }

      .n_link:hover {
        background-image: url("img/gif/1.gif");
        background-repeat: no-repeat;
        background-size: 200px 20px;
        background-position: bottom;
        text-decoration: none;
        color: rgb(148, 232, 255);
      }

      .nc_link {
        display: block;
        color: rgb(255, 129, 97);
        cursor:pointer;
        pointer-events: none;
      }

      /* foot note */
      .fnt {
        position: absolute;
        font-size: 12px;
        text-align: left;
        bottom: -30px;
        opacity: 0.5;
      }

      .fnt:hover {
        opacity: 0.8;
      }

      /* right part */
      .c2 {
        position: relative;
      }

    
      .c_link:hover {
        text-decoration: none;
      }

      /* tittle */
      .tl {

      }

    /* work display */
      /* hover display */
      .ilu {
        position: relative;
        height: auto;
      }

      .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: .5s;
      }

      .mask>h4 {
        padding-top: 70%;
      }

      .mask>h3 {
        padding-top: 45%;
      }

      #mask1 {
          background-color: rgb(255, 129, 97);
          opacity:0;
      }
      .ilu:hover #mask1 {
          opacity: 0.8;
      }

      .dh {
        height: 1px;
        width: 60%;
        background: white;
      }

      .col-sm-4 {
        overflow: hidden;
        height: 740px;
      }

      .col-sm-6 {
        overflow: hidden;
        height: 740px;
      }

      .s1 {
        background-image: url("img/s1.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
      }

      .s2 {
        background-image: url("img/s2.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
      }

      /* slide controler */
      .cb1 {
        background-color: black;
        position: absolute;
        height: 10%;
        width: 2%;
        top: 45%;
        right: -1%;
      }

      /* footer icon */
      .icon {
        position: fixed;
        bottom: 30px;
        right: 20px;
      }

      .icon>a img {
        height: 30px;
        border-radius: 13px;
        padding-right: 2px;
        opacity: 0.5;
      }

      .icon>a img:hover {
        opacity: 0.8;
      }